/* PC */
@media (min-width: 64em) {

}

/* Tablet & Mobile */
@media (max-width: 64em) {
    #nav .subnav a {
        padding: 12px 16px 12px;
    }
    
    .place-buy-button, .contact-form .form-submit-button {
        padding: 14px 16px;
    }

    .contact-form .form-control {
        padding: 16px;
        font-size: 16px;
    }
 
    .form-submit-button {
        font-size: 16px;
    }

    .contact-info {
        line-height: 2;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 64em) {
    
}

/* Mobile */
@media (max-width: 46.25em) {
    .s-col-full, .s-full-width {
        width: 100% !important;
    }
    
    #header {
        overflow: hidden;
    }

    #header .search-button {
        display: none;
    }

    #header .menu-button {
        display: block;
    }

    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }
 
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 12px 40px;
    }

    .slider-frame .slider-part .text-heading,
    .slider-frame .slider-part .text-desciption {
        display: none;
    }

    #content .member-item {
        margin-top: 4px;
        width: 100%;
    }

    #content .member-pic {
        margin-bottom: 16px;
    }

    .modal-content {
        max-width: calc(100% - 32px);
    }

    .contact-info {
        margin-bottom: 16px;
    }

    .contact-name {
        margin-bottom: 8px;
    }
}